---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import FormattedDate from "@components/FormattedDate.astro";
import { readingTime } from "@lib/utils";
import BackToPrev from "@components/BackToPrev.astro";
import Link from "@components/Link.astro";

export async function getStaticPaths() {
  const portfolio = (await getCollection("portfolio"))
    .filter(post => !post.data.draft)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  return portfolio.map((project) => ({
    params: { slug: project.slug },
    props: project,
  }));
}
type Props = CollectionEntry<"portfolio">;

const project = Astro.props;
const { Content } = await project.render();
---

<PageLayout title={project.data.title} description={project.data.description}>
  <Container>
    <div class="animate">
      <BackToPrev href="/portfolio">
        Back to portfolio
      </BackToPrev>
    </div>
    <div class="animate space-y-1 my-10">
      <!--<div class="text-2xl font-semibold text-black dark:text-white">
        {project.data.title}
      </div>
      <div class="flex items-center gap-1.5">
        <div class="font-base text-sm">
          <time datetime={project.data.date.toISOString()}>
            {
              project.data.date.toLocaleDateString("en-us", {
                year: "numeric",
              })
            }
          </time>
          
      </div> -->
    </div>
    <article class="animate">
      <Content />
    </article>
  </Container>
</PageLayout>